
.Hicon{
  padding-top: 20px;
  padding-left: 10px;
}

.home{
  font-size: 50px;
}

.namer{
  justify-content: center;
  padding: 70px;
}

.host-col{
  text-align: right;
}

.buttonH{
  text-align: center;
  font-size: 90px;
}
