
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.Hicon{
    padding-top: 15px;
    padding-left: 9px;
  }

.title{
  text-align: center;
  font-family: 'Fredoka One', cursive;
  
}
.player-legend{
  font-size: 13px;
  color: slategray;
  opacity: 0.5;
  
  }

.joinded-players {
  justify-content: center;
  padding: 20px;
  border-width: 1px;
  border-radius: 10px 10px 10px 10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);

}


.host{
  padding-top: 40px;
  text-align: center;
}


.copy{
  cursor: grab;
}

.alert {
  color: coral;
}
.chips{
  padding: 10px;
}